.top-home {
    padding-bottom: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), linear-gradient(180deg, #012a54, #2a729d 45.18%, #4c86af 85.49%);
}

.header {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 50px;
}

.header-home h1 {
    margin-top: 50px;
    font-size: 46px;
    font-weight: 700;
}

.hihi:hover {
    color: white;
}

.img-content img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 210px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 170px;
}

.title-content h1 {
    color: #05105e;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 56px;
    margin: 0;
}

.baxa p {
    color: #05105e;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.16px;
    line-height: 28px;
    text-align: justify;
}

.fontName h2 {
    font-family: 'DM Serif Display';
}